* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  /* background: #7444e3; */
  padding: 0 16px;
  /* background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png"); */
  background-color: #8a005e;
  background-image: url("https://www.transparenttextures.com/patterns/flower-trail.png");

}
.app{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color:rgb(39, 39, 136) ;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  text-align: center;
  margin:  40px auto 30px;
  width: 100%;
  color: #848181;
  height: 2.5rem;
}

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
  background-image: url("https://www.transparenttextures.com/patterns/flower-trail.png");

}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: white;
  border: none;
  right: -16px;
  width: 36px;
  bottom: -22px;
  height: 36px;
  background-color: rgb(39, 39, 136);
  cursor: pointer;
  outline: none;
}

form {
  position: relative;
  width: 48vmax;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  background-image: url("https://www.transparenttextures.com/patterns/black-lozenge.png");
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  background-image: url("https://www.transparenttextures.com/patterns/black-lozenge.png");
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  color:black
}


.note button:hover{
  background: #fc533c;
  background-image: -webkit-linear-gradient(top, #fc533c, #361708);
  background-image: -moz-linear-gradient(top, #fc533c, #361708);
  background-image: -ms-linear-gradient(top, #fc533c, #361708);
  background-image: -o-linear-gradient(top, #fc533c, #361708);
  background-image: linear-gradient(to bottom, #fc533c, #361708);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  
}
form button:hover{
    background: #73251b;
  background-image: -webkit-linear-gradient(top, #73251b, #361708);
  background-image: -moz-linear-gradient(top, #73251b, #361708);
  background-image: -ms-linear-gradient(top, #73251b, #361708);
  background-image: -o-linear-gradient(top, #73251b, #361708);
  background-image: linear-gradient(to bottom, #73251b, #361708);
}